.tooltip {
    position: fixed;
    width: 180px;
    height: 300px;
    border: 1px solid #b3c9ce;
    border-radius: 7px;
    text-align: center;
    color: #333;
    background: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    font-family: Montserrat;
}

.card-tax {
    position: fixed;
    width: 180px;
    height: 300px;
    border: 1px solid #b3c9ce;
    border-radius: 7px;
    text-align: center;
    color: #333;
    background: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    font-family: Montserrat;
}

.company {
    position: fixed;
    width: 180px;
    height: 300px;
    border: 1px solid #b3c9ce;
    border-radius: 7px;
    text-align: center;
    color: #333;
    background: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    font-family: Montserrat;
}
