.tooltip, .company {
    position: fixed;
    width: 18rem;
    height: 25rem;
    //border: 1px solid #b3c9ce;
    //border-radius: 7px;
    border: 2px solid #000;
    text-align: center;
    color: #333;
    background: #fff;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    z-index: 2;

    .color {
        width: 100%;
        height: 17%;
        border-radius: 7px 7px 1px 1px;
    }

    .image {
        width: 40%;
        margin: 10px;
    }

    .name-company {
        font-weight: bold;
        margin: 5px;
    }

    .company-instruction-one {
        margin: 5px;
        font-size: 1.2rem;
    }

    .company-instruction-two {
        margin: 5px;
        font-size: 1.2rem;
    }

    .wrapper-card {
        width: 100%;
        height: 100%;

        .wrapper-color {
            width: 100%;
            height: 15%;
            //border-radius: 7px 7px 1px 1px;
            border-bottom: 2px solid #000;
            display: flex;
            justify-content: center;
            align-items: center;

            .wrapper-color-name {
                font-weight: bold;
            }
        }
        .brown {
            background-color: #864c39;
        }

        .blue {
            background-color: #47a7ff;
        }

        .orange {
            background-color: #eb8b2c;
        }

        .purple {
            background-color: #c63883;
        }

        .yellow {
            background-color: #fef102;
        }

        .red {
            background-color: #db2428;
        }

        .green {
            background-color: #11a85a;
        }

        .dark-blue {
            background-color: #0167a4;
        }

        .info-rents {
            margin: 10px;
            font: Montserrat 1.6rem/1.3 sans-serif;
            border-bottom: 2px solid #ccc;
            padding-bottom: 10px;

            .rent, .rent-with-color-set, .rent-with-one, .rent-with-two, .rent-with-three, .rent-with-four, .rent-with-five {
                margin-top: 2px;
                display: flex;
                justify-content: space-between;

                .img-haus {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        .housest {
            margin-top: 20px;
            margin: 10px;
            font: Montserrat 1.4rem/1.3 sans-serif;

            .housest-cost, .hotels-cost {
                margin-top: 2px;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

.card-tax {
    position: fixed;
    width: 18rem;
    height: 25rem;
    //border: 1px solid #b3c9ce;
    border: 2px solid #000;
    //border-radius: 7px;
    text-align: center;
    color: #333;
    //background: #fff;
    background: #fffce2;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    z-index: 2;

    img {
        width: 40%;
        margin: 10px;
    }

    .name-railroad {
        margin: 5px;
        font-weight: bold;
    }

    .rent {
        margin-top: 10px;
        margin: 5px;
        display: flex;
        justify-content: space-between;
    }

    .owner {
        inline-size: fit-content;
        margin: 5px;
    }

    .owner-two, .owner-three, .owner-four {
        display: flex;
        justify-content: space-between;
        font-style: 1.2rem;
        margin: 5px;
    }
}