@import "constants";

.addition-options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  height: 100%;
  background-color: #b0c4de;
  font-size: 2rem;

  .buying-section {
    width: 90%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    border-radius: 1.5rem;
    background-color: #fff;
    padding: 5px;
    text-align: center;

    @include tablet-width {
      height: 90%;
    }
    

    .button__buyout,
    .button__pladge,
    .button__buy-house,
    .button__sell-house {
      @include button;
    }

    .inactive__button {
      @include inactive-button;
    }
  }
}
