$tablet-width: 1024px;

$footer_background_color: #4167cd;
$github_link_hover_color: hsla(0, 0%, 100%, 0.713);

$active_cell: #88aad6;

$scroll_bar_track_color: #5a5a5aea;
$scroll_bar_thumb_color: #222222;
$scroll_bar_thumb_hover_color: #000000;

$light-mode-btns: #4167cd;
$light-mode-btns-hover: rgb(6, 59, 204);

$warning-start-btn: #8c0b0b;

$dark-mode-red-btns: #e86455;
$dark-mode-red-btns-hover: #f84d3a;
$dark-gray: #3e4345;
$middle-dark-gray: #919699;
$gray: #a9a9a9;
$light-gray: #c6cacc;

@mixin tablet-width {
  @media (max-width: $tablet-width) {
    @content;
  }
}

@mixin button {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $light-mode-btns;
  border-radius: 3.5rem;
  color: #fff;
  font-size: 1.2rem;
  padding: 0 0.5rem;
  height: 2.5rem;

  &:hover {
    background: $light-mode-btns-hover;
    cursor: pointer;
  }
}

@mixin inactive-button {
  pointer-events: none;
  background-color: #c6cacc;
}
