@import "constants";

footer {
  height: 5%;
  width: 100%;
  background-color: $footer_background_color;
  display: flex;
  font-size: 1.2rem;

  @include tablet-width {
    height: 10%;
    font-size: 1rem;
  }

  .info-about-creator {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    width: 80%;

    .coloborators {
      display: flex;
      justify-content: space-around;
      width: 70%;

      @include tablet-width {
        justify-content: space-evenly;
        width: 100%;
      }
    }

    .github-link {
        display: flex;
      text-decoration: none;
      color: rgb(7, 7, 7);
    

      &:hover {
        color: $github_link_hover_color;
        text-decoration: none;
      }

      img {
        width: 1.5rem;
        height: 1.5rem;
        margin-left: 1rem;
      }
    }
  }

  .logo-year-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35%;

    img {
      width: 6rem;
      height: 3rem;

      @include tablet-width {
        width: 5rem;
        height: 1.5rem;
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
