@import "constants";

.game-history {
    width: 70%;
    height: 85%;
    background-color: #B0C4DE;
    font-size: 2rem;
    margin: auto;

    @include tablet-width {
        height: 100%;
    }

    .action-list {
        padding: 10px 15px;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        list-style-type: none;
        border: 2px solid;
        background-color: #fff;
    }    

    .button {
        border: 1px solid black;
        width: fit-content;
        padding: 5px;
        margin-left: 10px;
        
        &:hover {
            cursor: pointer;
        }        
    }
}