@import "constants";

.loader {
  position: relative;
  width: 9rem;
  height: 9rem;
  border: 0.4rem solid $light-mode-btns;
  border-radius: 100%;

  &::after, &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -.2rem 0 0 -.2rem;
    border-bottom: 0.4rem solid $light-mode-btns;
    border-radius: .6rem;
    -webkit-transform-origin: .2rem center;
  }

  &::before {
    width: 30%;
    -webkit-animation: rotate 12s linear infinite;
  }

  &::after {
    width: 40%;
    background-color: $light-mode-btns;
    -webkit-animation: rotate 2s linear infinite;
  }


  @-webkit-keyframes rotate {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

//   width: 10rem;
//   height: 10rem;
//   //margin: -75px 0 0 -75px;
//   border-radius: 50%;
//   border: 3px solid transparent;
//   border-top-color: #9370DB;
//   //-webkit-animation: spin 2s linear infinite;
//   animation: spin 2s linear infinite;

//   &:before {
//     content: "";
//     position: absolute;
//     top: 5px;
//     left: 5px;
//     right: 5px;
//     bottom: 5px;
//     border-radius: 50%;
//     border: 3px solid transparent;
//     border-top-color: #BA55D3;
//     -webkit-animation: spin 3s linear infinite;
//     animation: spin 3s linear infinite;
//   }

//   &:after {
//     content: "";
//     position: absolute;
//     top: 15px;
//     left: 15px;
//     right: 15px;
//     bottom: 15px;
//     border-radius: 50%;
//     border: 3px solid transparent;
//     border-top-color: #FF00FF;
//     -webkit-animation: spin 1.5s linear infinite;
//     animation: spin 1.5s linear infinite;
//   }
// }

// @keyframes spin {
//   0%   {
//       //-webkit-transform: rotate(0deg);
//       //-ms-transform: rotate(0deg);
//       transform: rotate(0deg);
//   }
//   100% {
//       //@extend: rotate(360deg);
//       //-ms-transform: rotate(360deg);
//       transform: rotate(360deg);
//   }
}