.players-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: sandybrown;
    width: 15%;
    height: 100%;

    .player-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 5%;
        margin-top: 15px;
        width: 16em;
        height: 11em;
        background: #FFFFFF;
        box-shadow: 0px 5px 15px rgba(28, 36, 43, 0.1), 0px 10px 30px rgba(28, 36, 43, 0.1);
        border-radius: 10px;
        

        &__name {
            color: #2295FF;
            font-size: 2.2rem;
            font-weight: 500;
        }

        &__cash {
            display: flex;
            justify-content: space-between;
            width: 100%;

            &__money {
                font-size: 3.5rem;
            }

            &__currency {
                font-size: 3.5rem;
                color: gray;
            }
        }

        &__color {
            height: 10px;
            width: 100%;
            border-radius: 10px;
        }
    }
}