.players-cards {
    background-color: sandybrown;
    width: 15%;
    height: 100%;

    .player-card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 30px 40px;
        margin: 20px;
        width: 247px;
        height: 195px;
        background: #FFFFFF;
        box-shadow: 0px 5px 15px rgba(28, 36, 43, 0.1), 0px 10px 30px rgba(28, 36, 43, 0.1);
        border-radius: 10px;

        &__name {
            color: #2295FF;
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 10px;
        }

        &__cash {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            margin-bottom: 10px;

            &__money {
                font-size: 50px;
            }

            &__currency {
                font-size: 50px;
                margin-left: 15px;
                color: gray;
            }
        }

        &__color {
            height: 15px;
            width: 100%;
            border-radius: 10px;
        }
    }
}