@import "constants";

.language-choose {
  // margin-top: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  // font-size: 1.2rem;

  &__title {
    font-weight: 600;
  }

  .form_radio {
    margin-left: 21px;
    height: 25px;
    display: flex;
    align-items: center;

    .input[type="radio"] {
      display: none;
    }
    .label {
      position: relative;
      display: inline-block;
      padding: 3px 3px 3px 20px;
      cursor: pointer;
      margin-left: 5px;
    }
    .label::before,
    .label::after {
      position: absolute;
      content: "";
      top: 50%;
      border-radius: 100%;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
    }
    .label::before {
      left: 0;
      width: 14px;
      height: 14px;
      margin-top: -8px;
      background: #f3f3f3;
      border: 1px solid #ccc;
    }
    .label:hover::before {
      background: #fff;
    }
    .label::after {
      opacity: 0;
      left: 4px;
      width: 8px;
      height: 8px;
      margin-top: -4px;
      background: #3498db;
      -webkit-transform: scale(2);
      transform: scale(2);
    }
    .input[type="radio"]:checked + label::before {
      background: #fff;
      border: 1px solid #3498db;
    }
    .input[type="radio"]:checked + label::after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
}
//     .form_radio input[type=radio] {
//         display: none;
//     }
//     .form_radio label {
//         display: inline-block;
//         cursor: pointer;
//         position: relative;
//         padding-left: 25px;
//         margin-right: 0;
//         line-height: 18px;
//         font-size: 1.2rem;
//     }
//     .form_radio label:before {
//         content: "";
//         display: inline-block;
//         width: 17px;
//         height: 18px;
//         position: absolute;
//         left: 0;
//         bottom: 1px;
//     }

//     /* Checked */
//     .form_radio input[type=radio]:checked + label:before {
//     }

//     /* Hover */
//     .form_radio label:hover:before {
//         filter: brightness(120%);
//     }
// }

// .button_language {
//     width: 45%;
//     height: 2.5rem;
//     background-color: #dc4433;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     border-radius: 3.5rem;
//     color: #fff;
//     font-size: 1.2rem;
//     margin-top: 5px;

//     @include tablet-width {
//       font-size: 1.5rem;
//     }

//     &:hover {
//       cursor: pointer;
//     }
//   }
